body {
  margin: 2%;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.header {
   grid-area: header;
}

.image {
   grid-area: image;
}

.footer {
	grid-area: footer;
}

.video {
	gride-area: video;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  background-color: aliceblue;
  color: black;

  grid-template-columns: 20% 38% 38%;
  grid-template-areas:
    'image header header'
    'sidebar video content'
    'footer footer footer';
}

.content {
  font-size: 150%;
  font-family: Helvetica (sans-serif);
  color: black;
}

.header {
	background-color: #white;
	font-size: 600%;
	font-family: Impact (sans-serif);
	color: #09075F;
	position: center;
}

.footer {
  font-size: 125%;
  font-family: Helvetica (sans-serif);
  color: black;
  position: center;
}
.sidebar {
  font-size: 150%;
  font-family: Helvetica (sans-serif);
  color: black;
}
.video {
  font-size: 150%;
  font-family: Helvetica (sans-serif);
  color: black;
}