body {
  margin: 40px;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.header {
   grid-area: header;
}

.image {
   grid-area: image;
}

.footer {
	grid-area: footer;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  background-color: #white;
  color: #black;

  grid-template-columns: 25% 75%;
  grid-template-areas:
    'image header'
    'sidebar content'
    'footer  footer';
    background-color: #gray;
    color: #white;
}

.box {
  background-color: #cadetblue;
  color: #white;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.header {
	background-color: #white;
	font-size: 300%;
	color: black
}

		